.container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;

    
}

.input {
    display: flex;
    gap: 16px;
}

#display {
    text-align: right;
}